<p style="height: 100px;"></p>
<div class="container">
    <div class="card mb-3" style="max-width: 90%;" *ngFor="let book of books">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img [src]="book.image" class="" alt="..." width="150px" height="200px">
            </div>
            <div class="col-md-4" style="padding-top: 50px;">
                <div class="card-body">
                    <h3 class="card-title">{{book.title}}</h3>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card-body" style="padding-top: 60px;">
                    <p class="card-text">Purchased At: &nbsp; &nbsp;{{book.datePurchased}}</p>
                    <p class="card-text">price: &nbsp; &nbsp; {{book.price * (1 - book.discount / 100) | currency}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<h1 *ngIf="showMessage">You Do not have any books yet</h1>