<section class="container my-5 pt-5">
    <div class="row mt-5">

        <div class=" col-lg-4 col-md-12 col-sm-12 ml-auto px-5" style="margin-left: auto;">
            <img class="img-fluid " src="https://prodimage.images-bn.com/lf?set=key%5Bresolve.pixelRatio%5D,value%5B1%5D&set=key%5Bresolve.width%5D,value%5B600%5D&set=key%5Bresolve.height%5D,value%5B10000%5D&set=key%5Bresolve.imageFit%5D,value%5Bcontainerwidth%5D&set=key%5Bresolve.allowImageUpscaling%5D,value%5B0%5D&set=key%5Bresolve.format%5D,value%5Bwebp%5D&source=url%5Bhttps://prodimage.images-bn.com/pimages/9780143127550_p0_v8_s600x595.jpg%5D&scale=options%5Blimit%5D,size%5B600x10000%5D&sink=format%5Bwebp%5D" alt="Book" style="height: 450px; ;">
        </div>
        <br> <br>
        <div class="col-lg-7 col-md-12 col-sm-12">
            <br>
            <h4 style="color: gray;">Category</h4>
            <h2>Everything I Never Told You</h2>
            <h5>by <span>Author</span></h5>
            <h4 style="color: goldenrod;">★★★★★ <span style="font-size: 15px; color: black;">150 ratings</span> </h4>
            <hr>
            <h6 style="margin-bottom: 10px;">eBook (PDF)</h6>
            <h2>EGP <span>55.99</span> </h2>
            <br>
            <button type="button" class="btn btn-dark" style="font-size: 25px;"> 
                <i class='fa fa-cart-plus' style='color: white; font-size: 30px;'></i> 
                &nbsp;&nbsp;&nbsp;&nbsp; Add to Cart  &nbsp;&nbsp;&nbsp;&nbsp;</button>

        </div>
    </div>
    <br> <br> <br>
    <h4>Summary</h4>
    <hr>
    <div >
        <p style="font-size: 17px;">Vrienden voor het leven is het verhaal van drie vriendinnen die op weg naar
            volwassenheid verwikkeld raken in een zonderlinge driehoeksverhouding. 
            Benny en Eve, boezemvriendinnen uit het Ierse dorpje Knockglen, gaan in Dublin studeren 
            en sluiten daar al snel vriendschap met de aantrekkelijke en ambitieuze Nan. 
            Het opwindende studentenleven brengt hun echter niet alleen geluk maar ook verdriet. 
            Met haar grote vermogen om menselijke gevoelens herkenbaar neer te zetten weet Maeve Binchy geluk en verdriet, warmte en humor samen te brengen in deze meeslepende roman. 
            Vrienden voor het leven verscheen voor het eerst in 1991 en is het favoriete boek van vele Maeve Binchy-fans. Het boek is inmiddels toe aan de zeventiende druk. 
            In 1995 werd het zeer succesvol verfilmd onder de titel Circle of Friends met Minnie Driver en Chris O’Donnell in de hoofdrollen.
        </p>
    </div>
    <br> <br>
    <div class="container" style="align-items: center; padding: auto; margin: auto; align-content: center;">
        <div class="row" >
            <div class="col-4" style="padding: 9px;">
                <hr>
            </div>
            <div class="col-3">
                <h2 role="complementary" class="rule mb-lg-xs  recommendation-title " style="text-align: center;">
                    You May Also Like 
                </h2>
            </div>
            
            <div class="col-4" style="padding: 9px;">
                <hr>
            </div>
        </div>
    </div> 

    <div class="container" style="margin-top: 50px">
        <div class="card col-3 rounded-0 border-0" style="width: 10rem; margin: 20px">
          <img
            class="card-img-top rounded-0"
            src="https://prodimage.images-bn.com/lf?set=key%5Bresolve.pixelRatio%5D,value%5B1%5D&set=key%5Bresolve.width%5D,value%5B600%5D&set=key%5Bresolve.height%5D,value%5B10000%5D&set=key%5Bresolve.imageFit%5D,value%5Bcontainerwidth%5D&set=key%5Bresolve.allowImageUpscaling%5D,value%5B0%5D&set=key%5Bresolve.format%5D,value%5Bwebp%5D&source=url%5Bhttps://prodimage.images-bn.com/pimages/9780143127550_p0_v8_s600x595.jpg%5D&scale=options%5Blimit%5D,size%5B600x10000%5D&sink=format%5Bwebp%5D"
            alt="Card image cap" style="height: 230px;"
          />
          <div class="card-body px-1">
            <h6 class="card-title"> Everything I Never Told You </h6>
            <p>by Author</p>
            <!-- <app-star
              [rating]="movie.rating"
              (tellParent)="recivedChildData($event)"
            ></app-star> -->
          </div>
        </div>
      </div>
</section>