<div class="categorylineBackground">
  <h1 class="categoryline">Welcome to <strong class="category">{{categoryName}}</strong></h1>
</div>
<div class="row container" style="margin: auto;">
  <!-- <div></div> -->
  <div class="card" style="width: 18rem;" *ngFor="let book of Books | paginate: { itemsPerPage: 6, currentPage: currentPage, totalItems:totalLength }">
    <a [routerLink]="['/books/isbn', book.ISBN]">
      <img class="card-img-top" width="300px" height="300px" src={{book.image}} alt="Card image cap">
    </a>
    <div class="card-body">
      <h5 class="card-title">{{book.title}}</h5>
      <!-- <app-star [width]='book.rating.average'></app-star> -->
      <star-rating [value]="book.rating.average" [totalstars]="5" checkedcolor="gold" uncheckedcolor="black"
        [readonly]="true" size="30px"></star-rating>
      <p>Price: {{book.price}} </p>
    </div>
  </div>
</div>

<div>
  <pagination-controls (pageChange)="currentPage=$event"></pagination-controls>
</div>
